.header-bg{
  height: 60vh;
  width: 100%;
  background: url("https://sm.mashable.com/t/mashable_in/photo/default/nasa-galaxy_9pu4.960.jpg");
  background-size: cover;
  background-position: center;
}
h1{
  color:#fc3d21;
  text-transform: uppercase;
  font-weight: bold;
  font-size:60px;
}
.logo_png{
  height: 140px;
  width: 140px;
} 
.row-custom{
  width: 100%;
  margin-top: 20px;
  display: flex;
}
input[type=text]{
  outline:none;
  border:none;
  background:none;
  border:2px solid #0b3d91;
  padding:10px 20px;
  color:white;
  font-size: 25px;
  flex:5;
}
button{
  outline:none;
  border:none;
  background:none;
  background: #0b3d91;
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding:10px 20px;
  flex:1;
}
.gallery{
  /* background:rgb(51, 51, 51); */
  padding:20px 0px;
}
.photo{
  width:100%;
  height: 80vh;
  margin-top: 20px;
 }
